<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29266723593-e1ca7e93an6fapgcidqbn4spgh13h9qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29266723593-e1ca7e93an6fapgcidqbn4spgh13h9qr</string>
	<key>API_KEY</key>
	<string>AIzaSyCcbH6JQJWcm3N1Pmmp1is-gFe5IzVjUl8</string>
	<key>GCM_SENDER_ID</key>
	<string>29266723593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-425dd</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-425dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29266723593:ios:e59f8d2e3e50b920c8c9d8</string>
</dict>
</plist>